.home__container {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;

  @include tablet {
    flex-direction: column-reverse;
  }
}

.posts {
  flex: 2;
}

.sidebar {
  flex: 1;
}
