.signup__container {
  width: 30%;
  padding-top: 0;
  margin-top: -1rem;
  padding: 0 3rem;

  h4 {
    color: rgb(165, 165, 165);
    font-weight: bold;
    margin: 0 40px 30px;
  }

  .primary-insta-btn {
    margin: 0.5rem 0;
  }

  .policies {
    text-align: center;
    color: rgb(165, 165, 165);
    margin: 10px 40px;
    font-size: smaller;
  }
}
