@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #fafafa;
}

nav {
  padding: 0.3rem;
  background: #fff;
  border: 1px solid transparent;
  border-bottom-color: #1b1b1b1e;
}

nav .nav__container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav__container .nav__navlogo {
  flex: 2;
}

nav .nav__container img {
  object-fit: contain;
}

nav .nav__menu {
  flex: 0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav__menu a {
  color: #000;
}

.avatar__menu {
  position: relative;
}

div[role="menu"] {
  width: 200px;
  visibility: hidden;
  background: #fff;
  position: absolute;
  top: 100%;
  left: -100%;
  transform: translate(-50%);
  border: 1px solid #1b1b1b1e;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  z-index: 10;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
}

div[role="menu"] a {
  font-size: small;
  padding: 0.3rem;
  margin-top: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: #333;
}

div[role="menu"] a svg {
  vertical-align: middle;
}

div[role="menu"] a:hover {
  background-color: #1b1b1b1e;
}

div[role="menu"].visible {
  visibility: visible;
}

.no__postError {
  margin: 4rem 0;
  color: #a5a5a5;
  font-size: 2rem;
}

mark {
  background: none;
  color: #006eff;
  cursor: pointer;
}

.post {
  flex: 2;
  display: flex;
  flex-direction: column;
  border: 1px solid #1b1b1b1e;
  border-radius: 3.5px;
  margin: 2rem 0;
}

.post .post__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.post .post__header h4 {
  margin-left: 10px;
}

.post .post__body img {
  object-fit: contain;
  width: 100%;
}

.post .post__footer {
  padding: 1rem;
  display: flex;
}

.post .post__footer p {
  margin-left: 10px;
}

.sidebar {
  margin-top: 2rem;
  margin-left: 1rem;
  position: sticky;
  top: 2rem;
}

.sidebar .sidebar__header,
.sidebar .user {
  padding: 0.4rem 0;
  display: flex;
  align-items: center;
}

.sidebar .user__info {
  margin-left: 10px;
}

.sidebar .suggestions {
  color: #a5a5a5;
  margin: 1rem 0;
}

.sidebar .currentUser__username, .sidebar h5 {
  color: #000;
}

.home__container {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.posts {
  flex: 2;
}

.sidebar {
  flex: 1;
}

.login__container,
.signup__container {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.login__container .hero__bg,
.signup__container .hero__bg {
  flex: 1;
}

.login__container .form,
.signup__container .form {
  margin-top: 2rem;
  padding: 2rem 0;
  background: #fff;
  border: 1px solid #1b1b1b1e;
}

.login__container .form__area,
.signup__container .form__area {
  flex: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login__container .form__area img,
.signup__container .form__area img {
  width: 50%;
  object-fit: contain;
}

.login__container form,
.signup__container form {
  width: 85%;
  margin: auto;
}

.login__container form .form__field,
.signup__container form .form__field {
  margin: 0.5rem 0;
  position: relative;
}

.login__container form .form__field label,
.signup__container form .form__field label {
  font-size: smaller;
  position: absolute;
  top: 40%;
  left: 2%;
  color: #1b1b1b6d;
  transition: all 0.4s;
}

.login__container form .form__field input,
.signup__container form .form__field input {
  width: 100%;
  font-size: small;
  border-radius: 0;
  border: 1px solid #1b1b1b1e;
  padding: 0.8rem 0.4rem 0.4rem 0.4rem;
}

.login__container form .form__field input:focus + label,
.signup__container form .form__field input:focus + label {
  top: 0;
  font-size: x-small;
}

.login__container form .form__field input:valid + label,
.signup__container form .form__field input:valid + label {
  top: 0;
  font-size: x-small;
}

.primary-insta-btn {
  padding: 0.4rem 0;
  background: #0095f6;
  color: #fff;
  border-radius: 4px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.primary-insta-btn:disabled {
  background: #a0a0a0;
  cursor: default;
}

.fb__login {
  margin: 2rem 0 1rem 0;
}

.btn__authFb {
  background: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #3b5998;
}

.btn__authFb svg {
  vertical-align: middle;
}

.forgotPassword {
  text-decoration: none;
  color: #3b5998;
  font-size: 12px;
}

.signup__area {
  padding: 1.2rem 0;
  background: #fff;
  border: 1px solid #1b1b1b1e;
  margin: 0.5rem 0;
}

.signup__area p {
  color: rgba(0, 0, 0, 0.802);
}

.signup__area a {
  text-decoration: none;
  color: #0095f6;
  font-weight: bold;
}

.gettheapp {
  margin: 1rem 0;
}

.stores a img {
  width: 100%;
}

.signup__container {
  width: 30%;
  padding-top: 0;
  margin-top: -1rem;
  padding: 0 3rem;
}

.signup__container h4 {
  color: #a5a5a5;
  font-weight: bold;
  margin: 0 40px 30px;
}

.signup__container .primary-insta-btn {
  margin: 0.5rem 0;
}

.signup__container .policies {
  text-align: center;
  color: #a5a5a5;
  margin: 10px 40px;
  font-size: smaller;
}

.modal__container {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container .modal__body {
  position: relative;
  background: #fff;
  border-radius: 2rem;
  padding: 2rem;
}

.modal__container .modal__body form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal__body form .file {
  display: none;
}

.modal__body form .file__placeholder {
  height: 100px;
  width: 100%;
  border: 5px dashed #999999;
  color: #999999;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  border-radius: 4px;
}

.modal__body form .file__placeholder:hover {
  border: 5px dashed #797979;
  color: #797979;
}

.modal__body form .file__placeholder h4 {
  font-weight: bold;
}

.modal__body form .file__placeholder h4 svg {
  vertical-align: middle;
}

.modal__body form .form__caption {
  padding: 4px;
  border-radius: 4px 12px;
  background: #fff;
  border: 1px solid #1b1b1b1e;
  margin-bottom: 1rem;
}

.modal__body form .primary-insta-btn svg {
  vertical-align: middle;
}

.progress__bar {
  height: 5px;
  width: 100%;
  background: #ddd;
  position: relative;
  border-radius: 7px;
  margin-top: 0.3rem;
}

.progress__bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #0095f6;
  transition: all 0.4s;
}

.upload__error {
  text-align: center;
  color: red;
  margin-top: 0.7em;
}

.close__uploadModal {
  color: #333;
  position: absolute;
  top: 1rem;
  right: 1.8rem;
}
/*# sourceMappingURL=styles.css.map */